body{
    transform: rotate(360deg);
    background-image: url("Kart/carretera.png");
}

img {
    height: 100%;
    width: 100%;
    margin: 25%;
    object-fit: contain;
    animation-name: cambioTRASLADO;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
       
}

img:hover{
    animation-play-state: running;
    /* animation-play-state: paused; */
}

.mario {
    height:300px;
    width: 300px;
}

@keyframes cambioTRASLADO{

    0%{
        transform: translateX(0%);
    }
    
    100%{
        transform: translateX(300%);
    }
}