body{
    transform: rotate(360deg);
    background-image: url("Kart/carretera.png");
}

img {
    height: 100%;
    width: 100%;
    margin: 25%;
    object-fit: contain;
    animation-name: cambioTRASLADO;
    animation-duration: 4s;
    
   }

   .mario {
    height:300px;
    width: 300px;
   }

@keyframes cambioTRASLADO{

    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(300%);
    }
    100%{
        transform: translateX(0)
    }
}